body {
  color: blue;
  background-color: blue;
}

#container {
  margin: auto;
  width: 35%;
  padding-top: 300px;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#quote-box {
  background-color: white;
  border-radius: 10px;
  display: grid;
  height: 250px;
  padding: 10px 30px;
  grid-template-rows: 140px 40px 40px;
  box-sizing: border-box;
}

#text-area {
  background-color: white;
  font-family: 'Montserrat', 'Lato', sans-serif;
  font-size: 1.8em;
  line-height: 1.4;
  align-self: start;
  justify-self: center;
  padding-top: 1px;
}

#text {
  background-color: white;
  padding: 5px;
}

/* font: font-style font-variant font-weight font-size/line-height font-family|caption|icon|menu|message-box|small-caption|status-bar|initial|inherit; */

#author-area {
  background-color: white;
  font-family: 'Montserrat', 'Lato', sans-serif;
  justify-self: end;
  font-size: 1.2em;
  margin: 8px;
}

#author {
  background-color: white;
  padding-left: 8px;
}

#buttons-area {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.button {
  background-color: blue;
  color: white;
  padding: 5px 6px;;
  border: none;
  border-radius: 4px;
  font-size: 1.2em;
}

#twitter-link i{
  color: white;
}

.smaller-text {
  font-size: 0.8em;
}

.even-smaller-text {
  font-size: 0.5em;
}

@media (max-width: 1400px) {
  #container {
    width:60%;
    transform: scale(1.1);
  }
}

@media (max-width: 1000px) {
  #container {
    width:80%;
    transform: scale(1.2);
  }
}